<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Penton" %></title>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>

    <%= javascript_include_tag "http://assets.penton.com/eloqua_site/nhnm/lib/foundation/js/foundation/foundation.js" %>
    <%= stylesheet_link_tag "http://assets.penton.com/eloqua_site/nhnm/lib/foundation/css/foundation.css" %>

    <%= javascript_include_tag "http://assets.penton.com/eloqua_site/nhnm/js/jquery.generic-form-error-notification.js" %>
    <%= javascript_include_tag "http://assets.penton.com/eloqua_site/nhnm/js/jquery.privacy-statement-nhnm.js" %>
    <%= javascript_include_tag "http://assets.penton.com/eloqua_site/nhnm/js/jquery.querystring.pr_form.js" %>

    <!--Scripts and Stylesheets-->  
    <%= stylesheet_link_tag "http://assets.penton.com/eloqua_site/nhnm/css/normalize.css" %>
    <%= stylesheet_link_tag "http://assets.penton.com/eloqua_site/nhnm/css/2.0/nhnm_page_nh360_2.0.css" %>
    <%= stylesheet_link_tag "http://assets.penton.com/eloqua_site/nhnm/css/2.0/nhnm_form_nh360_2.0.css" %>

    <%# stylesheet_link_tag 'normalize', 'nhnm_page_brand_2.0', 'nhnm_form_brand_2.0' %>

    <%= partial "head_nhnm_eq_wdl_01_lookupid" %>
    <%= partial "head_nhnm_eq_wdl_02_tracking" %>
    <%= partial "head_nhnm_eq_wdl_03_demos" %>          

    <style type="text/css">
    /* Overrides */
    </style>

  </head>
  <body>    

    <%= partial "body_06_view_full" %>

    <section id="eloqua-form">
      <div class="row form block">
        <div class="small-12 columns">                
          <div class="row">
            <div class="small-12 medium-10 large-7 medium-centered columns">       
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= partial "footer_copyright" %> 

  </body>
</html>
